In [12]:
import pandas as pd
import plotly.express as px

age_grow = pd.read_csv('data\AGE_GROW_TABLE.csv')
fish = pd.read_csv('data\FISH_TABLE.csv')
lab_count = pd.read_csv('data\LAB_COUNTS.csv')
stomachs = pd.read_csv('data\STOMACH_TABLE.csv')

In [42]:
lab_count.head()

,ID,DATE,TIME,SECCHI,.SAMPLES,STATION,NET_DIA,TEMP,ROT_1C1,ROT_1C2,...,DEPTH_2,CELL_VOL2,TOT_AVE,ROT_AVE,ACOP_AVE,NCOP_AVE,CLAD_AVE,BOS_AVE,OTH_AVE,comments
0,1,4/3/2001,1/0/1900,0.3,2.0,nc_is,0.0314,59.0,36.0,35.0,...,2.0,150.0,240843.96030,82404.46039,26273.885480,129777.07940,2388.535087,0.0,0.0,NaN
1,2,4/3/2001,1/0/1900,1.5,2.0,ww_is,0.0314,0.0,4.0,5.0,...,1.0,150.0,107484.07840,17515.92400,54936.306490,32643.31286,2388.535032,0.0,0.0,NaN
2,3,4/3/2001,1/0/1900,0.6,2.0,ww_is,0.0314,57.0,4.0,5.0,...,1.5,150.0,46178.34385,20169.85138,6900.212188,16985.13800,2123.142282,0.0,0.0,NaN
3,4,4/3/2001,1/0/1900,4.6,2.0,nc_ow,0.0314,56.0,141.0,127.0,...,40.0,200.0,51433.12040,18604.03345,10695.329220,20116.77262,2016.985113,0.0,0.0,NaN
4,5,4/3/2001,1/0/1900,5.0,2.0,ww_ow,0.0314,56.0,66.0,42.0,...,26.0,200.0,62551.03710,10574.88120,21598.889740,25518.53698,4858.729182,0.0,0.0,NaN

In [28]:
len(age_grow)

143

In [27]:
age_grow.head()

,FISH_ID,TL,Season,AGE,Radius,AGE1,AGE2,AGE3,AGE4,AGE5,AGE6,AGE7,AGE8,AGE9,AGE10,AGE11,AGE12,AGE13,AGE14,AGE15
0,20060046,0,Fall,2,136,68,120,0,0,0,0,0,0,0,0,0,0,0,0,0
1,20060049,0,Fall,4,157,68,113,140,150,0,0,0,0,0,0,0,0,0,0,0
2,20060050,0,Fall,4,160,79,110,125,145,0,0,0,0,0,0,0,0,0,0,0
3,20060051,0,Fall,1,115,72,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,20060052,0,Fall,4,160,51,83,118,148,0,0,0,0,0,0,0,0,0,0,0

In [25]:
fish.head()

,FISH_ID,DATE,TREND,GEAR,Species,GENDER,TL,WT,KTL,Wr,...,STOMACH,GONADS,FAT_INDEX,PARASITE,MISC1_TEXT,MISC2_NUMBER,MISC3_TEXT,MISC4_NUMBER,SITE,KFL
0,19710001,3/9/1971,True,GN,LMB,NaN,263,250.0,1.37,0.0,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,RN,0.0
1,19710002,3/9/1971,True,GN,LMB,NaN,348,700.0,1.66,0.0,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,RN,0.0
2,19710003,3/9/1971,True,GN,LMB,NaN,332,555.0,1.51,0.0,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,RN,NaN
3,19710004,3/9/1971,True,GN,LMB,NaN,350,720.0,1.67,0.0,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,RN,NaN
4,19710005,3/9/1971,True,GN,LMB,NaN,300,455.0,1.68,0.0,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,RN,NaN

In [26]:
fish.columns

Index(['FISH_ID', 'DATE', 'TREND', 'GEAR', 'Species', 'GENDER', 'TL', 'WT',
       'KTL', 'Wr', 'MATURITY', 'AGE_STRUCTURE', 'STOMACH', 'GONADS',
       'FAT_INDEX', 'PARASITE', 'MISC1_TEXT', 'MISC2_NUMBER', 'MISC3_TEXT',
       'MISC4_NUMBER', 'SITE', 'KFL'],
      dtype='object')

In [ ]:
len(fish)

In [ ]:
fish['DATE'].unique()

In [13]:
fish['Species'].value_counts().sort_values()[0:20]

gaz     1
GLB     1
BC      1
GAF     1
GZC     1
cct     1
70      1
gnf     1
SNB     1
CTT     1
bcl     1
sgf     1
WHS     1
el      1
wal     1
RLC     1
snb     1
YGH     1
tfs`    1
GZDL    1
Name: Species, dtype: int64

In [14]:
fish['Species'] = fish['Species'].map(lambda x: x.upper())

In [17]:
fish_counts = pd.DataFrame(fish['Species'].value_counts()[0:35]).reset_index()
fish_counts.head()

  index  Species
0   GSF    17342
1   STB    16821
2   BGL    13968
3   SMB    13760
4   LMB    12059

In [18]:
fig = px.bar(fish_counts, x='index', y='Species')
fig.show()

In [19]:
fs = fish.merge(stomachs, on='FISH_ID')

In [20]:
fs.head()

,FISH_ID,DATE,TREND,GEAR,Species,GENDER,TL,WT,KTL,Wr,...,AQUATIC_VEG,AQUATIC_INSECT,TRES_INSECT,Tres_Veg,DEBRIS,OTHER,Flannelmouth,Mosquito_Fish,Snail,Muscle
0,19710001,3/9/1971,True,GN,LMB,NaN,263,250.0,1.37,0.0,...,False,False,False,False,False,False,False,False,False,False
1,20041918,11/1/2004,True,gn,WAE,u,265,150.0,0.80,0.0,...,False,False,False,False,False,False,False,False,False,False
2,20041919,11/1/2004,True,gn,WAE,u,404,576.0,0.87,0.0,...,False,False,False,False,False,False,False,False,False,False
3,20041920,11/1/2004,True,gn,WAE,u,390,499.0,0.84,0.0,...,False,False,False,False,False,False,False,False,False,False
4,20041921,11/1/2004,False,gn,WAE,u,390,460.0,0.77,0.0,...,False,False,False,False,False,False,False,False,False,False

In [21]:
len(fish), len(stomachs), len(fs)

(102775, 10098, 10098)

In [22]:
top_species = fs['Species'].value_counts()[0:7]
top_species_names = ['STB', 'SMB', 'WAE', 'LMB', 'CCF', 'YBH', 'BLC']
top_species

STB    4228
SMB    2599
WAE    2063
LMB     687
CCF     369
YBH      63
BLC      51
Name: Species, dtype: int64

In [32]:
top_species_df.columns

Index(['FISH_ID', 'DATE', 'TREND', 'GEAR', 'Species', 'GENDER', 'TL', 'WT',
       'KTL', 'Wr', 'MATURITY', 'AGE_STRUCTURE', 'STOMACH', 'GONADS',
       'FAT_INDEX', 'PARASITE', 'MISC1_TEXT', 'MISC2_NUMBER', 'MISC3_TEXT',
       'MISC4_NUMBER', 'SITE', 'KFL', 'EMPTY', 'ZOOPLANKTON', 'CRAYFISH',
       'UNIDENTIFIED_FISH', 'SHAD', 'THREADFIN', 'GIZZARD', 'CENTRARCHID',
       'BLUEGILL', 'GREEN', 'CRAPPIE', 'BLACK_CRAPPIE', 'WHITE_CRAPPIE',
       'BLACK_BASS', 'LARGEMOUTH', 'SMALLMOUTH', 'STRIPER', 'WALLEYE',
       'CHANNEL_CATFISH', 'BLACK_BULLHEAD', 'YELLOW_BULLHEAD', 'RED_SHINER',
       'RAZORBACK', 'PIKEMINNOW', 'BONEYTAIL', 'HUMPBACK', 'CARP',
       'OTHER_FISH', 'ALGAE', 'AQUATIC_VEG', 'AQUATIC_INSECT', 'TRES_INSECT',
       'Tres_Veg', 'DEBRIS', 'OTHER', 'Flannelmouth', 'Mosquito_Fish', 'Snail',
       'Muscle'],
      dtype='object')

In [30]:
top_species_df = fs.loc[fs['Species'].isin(top_species_names)]
top_species_df
len(top_species_df.columns)

61

In [31]:
top_species_df.head()

,FISH_ID,DATE,TREND,GEAR,Species,GENDER,TL,WT,KTL,Wr,...,AQUATIC_VEG,AQUATIC_INSECT,TRES_INSECT,Tres_Veg,DEBRIS,OTHER,Flannelmouth,Mosquito_Fish,Snail,Muscle
0,19710001,3/9/1971,True,GN,LMB,NaN,263,250.0,1.37,0.0,...,False,False,False,False,False,False,False,False,False,False
1,20041918,11/1/2004,True,gn,WAE,u,265,150.0,0.80,0.0,...,False,False,False,False,False,False,False,False,False,False
2,20041919,11/1/2004,True,gn,WAE,u,404,576.0,0.87,0.0,...,False,False,False,False,False,False,False,False,False,False
3,20041920,11/1/2004,True,gn,WAE,u,390,499.0,0.84,0.0,...,False,False,False,False,False,False,False,False,False,False
4,20041921,11/1/2004,False,gn,WAE,u,390,460.0,0.77,0.0,...,False,False,False,False,False,False,False,False,False,False

In [45]:
top_species_df['KTL'].value_counts()

0.91    247
0.90    241
0.87    232
0.94    231
0.93    223
       ...
2.31      1
1.87      1
2.01      1
0.37      1
2.45      1
Name: KTL, Length: 188, dtype: int64

In [44]:
top_species_df['GEAR'].value_counts()

GN    5245
gn    4806
gh       8
AN       1
Name: GEAR, dtype: int64

In [38]:
top_species_df['FAT_INDEX'].value_counts()

2.0     2570
3.0     2243
1.0     2092
0.0     1783
4.0      921
9.0      444
19.0       1
91.0       1
93.0       1
29.0       1
6.0        1
32.0       1
Name: FAT_INDEX, dtype: int64

In [40]:
top_species_df['PARASITE'].value_counts()

9.0    7084
2.0    1026
1.0     963
0.0     527
3.0     457
Name: PARASITE, dtype: int64

In [34]:
top_species_df[['MATURITY', 'AGE_STRUCTURE']]

      MATURITY  AGE_STRUCTURE
0          NaN          False
1          NaN          False
2          NaN          False
3          NaN          False
4          NaN          False
...        ...            ...
10093      NaN          False
10094      NaN          False
10095      NaN          False
10096      NaN          False
10097      NaN          False

[10060 rows x 2 columns]

In [41]:
top_species_df['FAT_INDEX'].value_counts()

2.0     2570
3.0     2243
1.0     2092
0.0     1783
4.0      921
9.0      444
19.0       1
91.0       1
93.0       1
29.0       1
6.0        1
32.0       1
Name: FAT_INDEX, dtype: int64

In [ ]:
stb = fs.loc[fs['Species'] == 'STB']

In [ ]:
stb.columns

In [ ]:
stb_food = stb.drop(['FISH_ID', 'DATE', 'TREND', 'GEAR', 'Species', 'GENDER', 'TL', 'WT',
       'KTL', 'Wr', 'MATURITY', 'AGE_STRUCTURE', 'STOMACH', 'GONADS',
       'FAT_INDEX', 'PARASITE', 'MISC1_TEXT', 'MISC2_NUMBER', 'MISC3_TEXT',
       'MISC4_NUMBER', 'SITE', 'KFL'], axis=1)

In [ ]:
stb_food.head()

In [ ]:
# pd.get_dummies(stb_food, columns=['EMPTY', 'ZOOPLANKTON', 'CRAYFISH',
#        'UNIDENTIFIED_FISH', 'SHAD', 'THREADFIN', 'GIZZARD', 'CENTRARCHID',
#        'BLUEGILL', 'GREEN', 'CRAPPIE', 'BLACK_CRAPPIE', 'WHITE_CRAPPIE',
#        'BLACK_BASS', 'LARGEMOUTH', 'SMALLMOUTH', 'STRIPER', 'WALLEYE',
#        'CHANNEL_CATFISH', 'BLACK_BULLHEAD', 'YELLOW_BULLHEAD', 'RED_SHINER',
#        'RAZORBACK', 'PIKEMINNOW', 'BONEYTAIL', 'HUMPBACK', 'CARP',
#        'OTHER_FISH', 'ALGAE', 'AQUATIC_VEG', 'AQUATIC_INSECT', 'TRES_INSECT',
#        'Tres_Veg', 'DEBRIS', 'OTHER', 'Flannelmouth', 'Mosquito_Fish', 'Snail',
#        'Muscle'])

food_dict_stb = {}   
for column in stb_food.columns:
    food_dict_stb[column] = stb_food[column].sum()

dum = food_dict_stb.copy()
for key in dum.keys():
    if dum[key] < 10:
        food_dict_stb.pop(key)

food_dict_stb.pop('EMPTY')
food_dict_stb.pop('UNIDENTIFIED_FISH')

In [ ]:
fdstb = pd.DataFrame(food_dict_stb, index=range(0,len(food_dict_stb)))

import plotly.graph_objects as go

fig = go.Figure()
fig.add_trace(go.Bar(x=list(food_dict_stb.keys()), y=list(food_dict_stb.values())))

In [ ]:
stb.head()

fig = px.scatter(top_species_df, x='TL', y='WT', color='Species')
fig.show()

In [ ]:
top_species_df.head()
top_species_df['l/w ratio'] = top_species_df['TL'] / top_species_df['WT']
top_species_df['color'] = 'blue'

In [ ]:
fig = go.Figure()
fig.add_trace(go.Bar(x=list(top_species_df['Species'].unique, y=list(top_species_df.groupby['Species'].sum()['l/w']))))

In [ ]:
list(top_species_df['Species'].unique())

In [ ]:
top_species_df.groupby('Species').mean()

In [ ]:
import seaborn as sns

sns.distplot(top_species_df['l/w ratio'])